@import '../_var/var';
@import '../_mixins/mixins';

.donate {
  .container {
    padding: 100px 0 100px 0;
    @include position();
    flex-shrink: 0;
  }

  &__empty {
    margin-right: 30px;
    width: 570px;
    height: 505px;
    background-color: $grey;
    flex-shrink: 0;
  }

  &__content {
    &__title {
      margin-bottom: 58px;
      min-height: 50px;
      font-weight: $weight4;
      font-family: $abril;
      font-size: 32px;
      line-height: $line;
      color: $pinki;
      vertical-align: bottom;
      background: url('../../img/icon-horns.svg') no-repeat top 0 left 0;
    }

    &__txt {
      font-weight: $weight4;
      font-family: $arimo;
      font-size: 16px;
      line-height: 26px;
      color: $grace;
    }
    &__txt:not(:last-of-type) {
      margin-bottom: 40px;
    }
    &__btn {
      padding: 25px;
      width: 167px;
      height: 65px;
      width: 167px;
      font-family: $arimo;
      font-size: 20px;
      background-image: linear-gradient(90.0deg, #ff5a5a 0%, #d93939 100%);
      border-radius: 32.5px;
      color: $white;
    }
  }
}