* {
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

ol, ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  background: transparent;
  border-style: none;
  font-family: 'Gilroy', sans-serif;
  color: #fff;
}

p {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}