$margin: 0 auto;
$four: 40px;
$line: 28px;
$bigOffset: 130px;
$flx: flex;
$white: #fff;
$pinki: #ff5a5a;
$grey: #ccc;
$grace: #444;
$abril: 'Abril Fatface', serif;
$arimo: "Arimo", sans-serif;
$weight4: 400;